	
#list {
	font-family: 'Open Sans Condensed', sans-serif;	
	padding-top: 200px;
}

#navbar {
	height: 800px;
	width: 200px;
	background-color: #33CCCC;
	border-radius: 3px;
	float: left;
}

header {
	background-image: url('header.jpg');
	background-position: center;
	width: 960px;
	height: 151px;
	position: absolute;
	margin-left: 200px;
}
