body {
  background-color: #DEDEDE;
}

ul {
  font-family: 'Open Sans Condensed', sans-serif;	
  text-decoration: none;
  color: #33CCCC;
  }
a {
  font-family: 'Open Sans Condensed', sans-serif;	
  text-decoration: none;
  color: #33CCCC;
}
a: visited {
  font-family: 'Open Sans Condensed', sans-serif;	
  text-decoration: none;
  color: #33CCCC;
}
a: hover {
  background-color: #C0C0C0;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
}
