	
#contactbody {
	margin-right: 500px;
	background: white;
}


#list {
	font-family: 'Open Sans Condensed', sans-serif;	
	list-style-type: none;
	font-size: 15px;
	margin-top: 80px;
}

ul {
	list-style-type: none;	
}

a {
	text-decoration: none;
	color: #00000;
}

a:hover {
	background-color: #009999;
}

#navbar {
	height: 705px;
	width: 200px;
	background-color: #33CCCC;
	border-radius: 3px;
	float: left;
}

#navlist {
	font-family: 'Open Sans Condensed', sans-serif;	
	list-style-type: none;
	padding-top: 100px;
	margin-left: 20px;
}

header {
	background-image: url('pictures/header.jpg');
	background-position: center;
	width: 960px;
	height: 151px;
	position: absolute;
	margin-left: 200px;
}


#biopic {
	height: 300px;
	width: 300px;
	float: left;
	margin-top: 200px;
	margin-left: 80px;
	border-radius: 3px;
}

section {
	background: #E0DDDD;
	width: 500px;
	height: 333px;
	float: right;
	margin-top: 200px;
	margin-right: 95px;
	padding: 10px;
	font-family: Pacifico, cursive; 
	font-size: 15pt;
	overflow: auto;
}

h2 {
  float: left;
  text-align: center;
  margin-top: -5px;
  margin-right: 50px;
}

.contactp {
  margin-top: -15px;
  text-align: left;
}

#email {
	padding-top: 5px;
	text-align: left;
}

p {
  font-family: Open Sans Condensed;
  font-size: 15px
    float: right;
  margin-top: 110px;
  text-align: right;
}

#secondp {
   font-family: Open Sans Condensed;
   font-size: 15px
   float: right;
   text-align: right;
   margin-top: 20px;
}
.resumebody {
	width: 760px;
	min-height: 400px;
	margin-right:200px;
}
.resumelink {
	font-family: 'Open Sans Condensed', sans-serif;
	size: 20px;
	text-align: right;
	margin-top: 20px;
}

.modulesbody {
	width: 400px;
	min-height: 470px;
	margin-left 300px;
	position: relative;
	
}

footer {
	background: grey;
	width: 1160px;
	height: 40px;
	float: left;
	clear: both;

}
#footer2 {
	font-family: Open Sans Condensed;
   	display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;;
   	color: #33CCCC;
   	text-align: center;
}
