	
ul {
	font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  position: relative;
  width: 200px;
  height: auto;
}


#navbar {
  height: 500px;
	width: 200px;
	border-radius: 5px;
	display: block;
  background-color: #33cccc;
  float: left;
}
