	
/*General*/
#container {
	width: 960px;
	background: #E8E8E8;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	background-color: #ffffff;
}
a:visited {
	color: #000000;
}
header {
	width: 1150px;
	position: absolute;
}
#navbar {
	height: 655px;
	width: 100px;
	background-color: white;
	border-radius: 3px;
	float: left;
}
#navlist {
	font-family: 'Open Sans Condensed', sans-serif;	
	list-style-type: none;
	padding-top: 140px;
	margin-left: 5px;
	font-size: 25px;
}
ul {
	list-style-type: none;	
}
#biopic {
	height: 300px;
	width: 300px;
	float: left;
	margin-top: 180px;
	margin-left: 140px;
}
section {
	background: #E0DDDD;
	width: 500px;
	height: 280px;
	float: left;
	padding: 10px;
	position: absolute;
	margin-left: 600px;
	margin-top: 200px;
	font-family: 'Open Sans Condensed', sans-serif; 
	font-size: 15pt;
	text-align: left;
}
#intro {
	width:940px;
	height: 20px;
	position: absolute;
	float: left;
	margin-left: 210px;
	margin-top: 70px;
}

#letstalk {
	font-family: Open Sans Condensed;
  	font-size: 40px;
  	text-align: center;
  	float: left;
  	margin-left: 10px;
  	margin-bottom: -20px;
}

#linebreak {
	float: right;
}
#logo {
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#buttons {
	width: 200px;
	position: absolute;
	float: right;
	padding-top: 37px;
	margin-left: 990px;
}
#resbuttons {
	width: 200px;
	position: relative;
	float: right;
}
#portbuttons {
	width: 200px;
	margin-left: 990px;
	padding-top: 37px;
	position: absolute;
	float: right;
}
h2 {
  float: left;
  text-align: center;
  margin-top: -5px;
  margin-right: 90px;
}

#homephotos {    
  margin-top:170px;
  margin-left: 200px;
  padding:0;    
  list-style:none; 
  white-space: nowrap;
  position:absolute;
 }
 
#homephotos  li {  
  display: inline;
  margin-left: 55px;
}
#homephotos  li img{  
  margin-right: 30px;
}

#homephotos2 {    
  margin-top:400px;
  margin-left: 200px;
  padding:0;    
  list-style:none; 
  white-space: nowrap;
  position:absolute;
 }
 
#homephotos2  li {  
  display: inline;
  margin-left: 55px;
}
#homephotos2  li img{  
  margin-right: 30px;
}

/*about page intro*/
p {
  font-family: Open Sans Condensed;
  font-size: 20px;
  float: right;
  margin-top: -30px;
  text-align: left;
}
#secondp {
   font-family: Open Sans Condensed;
   font-size: 20px;
   float: right;
   text-align: left;
   margin-top: 5px;
}

/*resume page*/
#resumebody {
	float: left;
	position: relative;
	width: 705px;
	min-height: 500px;
	font-size: 20px;
	padding: 0px;
	margin-left:-700px;
	margin-top: 100px;
}
/*modules*/
#mod10 {
	position: relative;
	float: left;
	width: 500px;
	height: auto;
	background-color: #ffffff;
	margin-left: 30px;
}
#mod11 {
	position: relative;
	width: 500px;
	height: auto;
	background-color: #ffffff;
	margin-right: 550px;
	margin-top: 150px;
}
.mod10 {
	font-family: 'Open Sans Condensed', sans-serif; 
    	font-size: 13pt;
    	float: left;
    	margin: 0 0 0 0;
    	text-align: left;
}
#mod10pic {
	position: relative;
	float: right;
	margin-top: 200px;
}
.mod10head {
	background-image: none;
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif; 
	margin-top: 20px;
}
/*portfolio*/

#portlist {    
  margin-top:200px;
  margin-left: 200px;
  padding:0;    
  list-style:none; 
  white-space: nowrap;
  position:absolute;
 }
 
#portlist  li {  
  display: inline;
  margin-left: 55px;
}
#portlist  li img{  
  margin-right: 30px;
}

#portfolio {
	float: left;
	margin-left: 450px;
	padding-top: 200px;
	padding-bottom: 100px;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
}
#writing {
	float: left;
	margin-top: 150px;
	margin-left: -750px;
	position: absolute;
}
#design {
	float: left;
	margin-top: 150px;
	margin-left: -470px;
	position: absolute;
}
#video {
	float: left;
	margin-top: 150px;
	margin-left: -200px;
	position: absolute;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	margin-top: -7px;
}
/*port pages*/
.portpage {
	float: left;
	position: relative;
	margin-left: 50px;
	margin-top: 200px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.endlinks {
  font-family: Open Sans Condensed;
  font-size: 20px;
  text-align: right;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 15px;
}
.portcaps {
	position: relative;
	float: left;
	margin-top: 300px;
	padding: 20px;
}
.picscaps {
	position: relative;
	float: left;
	margin-top: 300px;
	padding-top: 0px;
	padding-right: 20px;
}
#firstcap {
	position: relative;
	float: left;
	padding-right: 20px;
	margin-top: 300px;
	margin-left: -200px;
}

#factsheet {
	position: relative;
	float: left;
	padding-top: 210px;
	padding-left: 140px;
}
#fsdes {
	background: #E0DDDD;
	width: 200px;
	height: 470px;
	float: left;
	padding: 10px;
	margin-left: 100px;
	position: relative;
	margin-top: 210px;
	font-family: 'Open Sans Condensed', sans-serif;	
	font-size: 15pt;
}
.videos {
	position: relative;
	float: left;
	padding-top: 210px;
	margin-left: 55px;
	
}
/*footer*/
footer {
	background: white;
	width: 1170px;
	height: 20px;
	float: left;
	text-align: center;
	clear: both;
	padding: 20px;
}

footer p { 
  position: relative;
  margin-right: 480px;
  margin-top: 10px;
}
